# Supabase
VITE_SUPABASE_URL=https://uhgylwuefxtohfjjrxyz.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_jxl75Ijux_Fv7MuRNSTUcg_WsZV3go8
SUPABASE_PUBLISHABLE_KEY=sb_publishable_jxl75Ijux_Fv7MuRNSTUcg_WsZV3go8

# Bank Account (Invoice System)
VITE_ACCOUNT_IBAN=HR1823600001103274166
VITE_ACCOUNT_NAME=NEXORA grupa, obrt za usluge

# App URL
VITE_APP_URL=https://biraj.com.hr
